<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{permanente.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{permanente.add.headline}]]</h1>
                <div>
                    <a th:href="@{/permanentes}" class="btn btn-secondary">[[#{permanente.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('permanente')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='permanente', field='contratoAnual', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='permanente', field='sueldo', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='permanente', field='fechaIngreso', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='permanente', field='cargo')}" />
                <div th:replace="~{fragments/forms::inputRow(object='permanente', field='permanente', required=true, type='select')}" />
                <input type="submit" th:value="#{permanente.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
